<div class="col-12 p-fluid">
    <p-fieldset legend="Actualización de Empresa">
        <div class="col-12">
            <form [formGroup]="up"
                  (ngSubmit)="guardar(
                    up.controls['empDes'].value,
                    up.controls['empDir'].value,
                    up.controls['empGiro'].value,
                    up.controls['empFono'].value,
                    up.controls['empTokenOMS'].value
                  )">
                <div class="grid formgrid">
                    <div class="col-12 mb-2 lg:col-6 lg:mb-0  p-3">
                        <span class="p-float-label">
                            <input id="empRut" type="text" pInputText [value]="empresa.empRut" disabled>
                            <label for="empRut">RUT (99999999-0)</label>
                        </span>
                    </div>

                    <div class="col-12 mb-2 lg:col-6 lg:mb-0  p-3">
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText formControlName="empDes" 
                            [ngClass]="(up.controls['empDes'].hasError('required')  ) ? 'was-validated' :'is-valid'">
                            <label for="empDes">Nombre</label>
                        </span>
                        <div *ngIf="up.controls['empDes'].hasError('required')">
                            <small class="p-error">Campo obligatorio!</small>
                        </div>
                    </div>

                    <div class="col-12 mb-2 lg:col-6 lg:mb-0  p-3">
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText formControlName="empFono" 
                            [ngClass]="(up.controls['empFono'].hasError('required')  ) ? 'was-validated' :'is-valid'"> 
                            <label for="empFono">Teléfono</label>
                        </span>
                        <div *ngIf="up.controls['empFono'].hasError('required')">
                            <small class="p-error">Campo obligatorio!</small>
                        </div>
                    </div>

                    <div class="col-12 md:col-6 mb-2 lg:mb-0 p-3">
                        <span class="p-float-label">
                            <input id="empGiro" type="text" pInputText formControlName="empGiro"
                                   [ngClass]="(up.controls['empGiro'].hasError('required')  ) ? 'was-validated' :'is-valid'">
                            <label for="empGiro">Giro Comercial</label>
                        </span>
                        <div *ngIf="up.controls['empGiro'].hasError('required')">
                            <small class="p-error">Campo obligatorio!</small>
                        </div>
                    </div>

                    <div class="col-12 mt-4">
                        <div class="p-2 border-round">
                              <div class="grid">
                                <div class="col-12">
                                    <div class="field mb-5">
                                        <span class="p-float-label">
                                            <input #empDir id="empDir" type="text" pInputText formControlName="empDir"
                                                class="w-full" placeholder="Buscar dirección"
                                                [ngClass]="(up.controls['empDir'].hasError('required')) ? 'was-validated' :'is-valid'">
                                            <label for="empDir">Dirección</label>
                                        </span>
                                        <div *ngIf="up.controls['empDir'].hasError('required')">
                                            <small class="p-error">Campo obligatorio!</small>
                                        </div>
                                    </div>
                                    <div class="map-container mb-4">
                                        <div #map style="width: 100%; height: 300px;" class="border-round"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 md:col-6 mb-2 lg:mb-0 p-3">
                        <span class="p-float-label">
                            <input id="empTokenOMS" type="text" pInputText formControlName="empTokenOMS">
                            <label for="empTokenOMS">OMS Token</label>
                        </span>
                    </div>

                    <div class="col-12  mb-2 lg:mb-0 p-3">
                        <p-fieldset legend="Logo">                   
                            <div class="mb-5 flex flex-column align-items-center">
                                <div class="avatar-container mb-3">
                                    <p-avatar *ngIf="!avatar" [label]="label" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                                    <p-avatar *ngIf="avatar" [image]="avatar" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                                </div>
                                <div class="flex gap-2">
                                    <input type="file" class="hidden" (change)="fileChangeEvent($event)" accept="image/*" #inputAvatar>
                                    <p-button type="button" icon="pi pi-camera" (onClick)="inputAvatar.click()" severity="secondary" [text]="true"></p-button>
                                    <p-button type="button" icon="pi pi-trash" (onClick)="clearAvatar()" severity="danger" [text]="true"></p-button>
                                </div>
                            </div>
                        </p-fieldset>   
                    </div>
                </div>

                <div class="flex flex-wrap gap-2 align-items-center justify-content-between mt-4">
                    <div class="flex gap-2">
                        <p-button type="submit" label="Guardar" icon="pi pi-check" 
                                 [loading]="val" *ngIf="up.valid">
                        </p-button>
                        <p-button type="button" label="Volver" icon="pi pi-arrow-down" 
                                 routerLink="/desk/seguridad/administracion/empresa" severity="secondary">
                        </p-button>
                    </div>
                </div>
            </form>
        </div>
    </p-fieldset>

    
    <!-- Popup para recortar la imagen -->
    <p-dialog header="Recortar Imagen" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{ width: '50vw' }">
        <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="1 / 1"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()">
        </image-cropper>
        <p-footer>
            <p-button label="Aceptar" (click)="acceptCrop()" icon="pi pi-check"></p-button>
            <p-button label="Cancelar" (click)="cancelCrop()" icon="pi pi-times" class="p-button-secondary"></p-button>
        </p-footer>
    </p-dialog>
</div> 
