<div class="layout-wrapper" [ngClass]="containerClass">
    <div class="menu-hover-trigger" (mouseenter)="onMenuMouseEnter()"></div>
    <app-topbar></app-topbar>
    <div class="layout-sidebar" (mouseleave)="onMenuMouseLeave()">
        <app-sidebar></app-sidebar> 
    </div>
    <div class="layout-main-container">
        <app-breadcrumb></app-breadcrumb>
        <div id="loading" *ngIf="isLoading$">
            <div class="loading-overlay loading-content" [style.height.px]="altura$ | async">
                <div class="loader"></div>
            </div>
        </div>
        <div class="layout-main">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
    <app-config></app-config>
    <div class="layout-mask"></div>
</div>