<div class="col-12 p-fluid">
    <p-fieldset legend="Ingreso de Empresa">
        <div class="col-12">
            <form [formGroup]="ins"
                  (ngSubmit)="guardar(
                    ins.controls['empDes'].value,
                    ins.controls['empDir'].value,
                    ins.controls['empRut'].value,
                    ins.controls['empGiro'].value,
                    ins.controls['empFono'].value,
                    ins.controls['empTokenOMS'].value
                  )">
                <div class="grid formgrid">
                    <div class="col-12 mb-2 lg:col-6 lg:mb-0  p-3">
                        <span class="p-float-label">
                            <input id="empRut" type="text" pInputText formControlName="empRut"
                                   [ngClass]="(ins.controls['empRut'].hasError('required') || ins.controls['empRut'].hasError('pattern') || !valRut) ? 'was-validated' :'is-valid'">
                            <label for="empRut">RUT (99999999-0)</label>
                        </span>
                        <div *ngIf="ins.controls['empRut'].hasError('required')">
                            <small class="p-error">Campo obligatorio!</small>
                        </div>
                        <div *ngIf="ins.controls['empRut'].hasError('pattern')">
                            <small class="p-error">Formato incorrecto!</small>
                        </div>
                        <div *ngIf="!valRut">
                            <small class="p-error">{{mensaje}}</small>
                        </div>
                    </div>

                    <div class="col-12 mb-2 lg:col-6 lg:mb-0  p-3">
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText formControlName="empDes" 
                            [ngClass]="(ins.controls['empDes'].hasError('required')) ? 'was-validated' :'is-valid'">
                            <label for="empDes">Nombre</label>
                        </span>
                        <div *ngIf="ins.controls['empDes'].hasError('required')">
                            <small class="p-error">Campo obligatorio!</small>
                        </div>
                    </div>

                    <div class="col-12 mb-2 lg:col-6 lg:mb-0  p-3">
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText formControlName="empFono" 
                            [ngClass]="(ins.controls['empFono'].hasError('required')) ? 'was-validated' :'is-valid'"> 
                            <label for="empFono">Teléfono</label>
                        </span>
                        <div *ngIf="ins.controls['empFono'].hasError('required')">
                            <small class="p-error">Campo obligatorio!</small>
                        </div>
                    </div>

                    <div class="col-12 md:col-6 mb-2 lg:mb-0 p-3">
                        <span class="p-float-label">
                            <input id="empGiro" type="text" pInputText formControlName="empGiro"
                                   [ngClass]="(ins.controls['empGiro'].hasError('required')) ? 'was-validated' :'is-valid'">
                            <label for="empGiro">Giro Comercial</label>
                        </span>
                        <div *ngIf="ins.controls['empGiro'].hasError('required')">
                            <small class="p-error">Campo obligatorio!</small>
                        </div>
                    </div>

                    <div class="col-12 mt-4">
                        <div class="p-2 border-round">
                              <div class="grid">
                                <div class="col-12">
                                    <div class="field mb-5">
                                        <span class="p-float-label">
                                            <input #empDir id="empDir" type="text" pInputText formControlName="empDir"
                                                class="w-full" placeholder="Buscar dirección"
                                                [ngClass]="(ins.controls['empDir'].hasError('required')) ? 'was-validated' :'is-valid'">
                                            <label for="empDir">Dirección</label>
                                        </span>
                                        <div *ngIf="ins.controls['empDir'].hasError('required')">
                                            <small class="p-error">Campo obligatorio!</small>
                                        </div>
                                    </div>
                                    <div class="map-container mb-4">
                                        <div #map style="width: 100%; height: 300px;" class="border-round"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 md:col-6 mb-2 lg:mb-0 p-3">
                        <span class="p-float-label">
                            <input id="empTokenOMS" type="text" pInputText formControlName="empTokenOMS">
                            <label for="empTokenOMS">OMS Token</label>
                        </span>
                    </div>

                    <div class="col-12  mb-2 lg:mb-0 p-3">
                        <p-fieldset legend="Logo">                   
                            <a pripple="" class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors">
                            <p-avatar *ngIf="this.avatar.length ===0"  label="{{label}}" size="large" shape="circle" class="shrink-0 p-avatar p-component p-avatar-circle p-avatar-lg p-avatar-image" data-pc-name="avatar" pc28=""></p-avatar>
                            <p-avatar *ngIf="this.avatar.length > 0"   image="{{avatar}}"  size="large" shape="circle" class="shrink-0 p-avatar p-component p-avatar-circle p-avatar-lg p-avatar-image" data-pc-name="avatar" pc28=""></p-avatar>                         
                            </a>                        
                            <div class="flex  flex-wrap gap-2 align-items-center">                       
                                <p-button label="Limpiar" icon="pi pi-check" size="secondary" size="small" (onClick)="clearAvatar()"/>
                                <input #inputAvatar type="file" class="hidden" accept=".jpg,.png" (change)="fileChangeEvent($event)" />
                                <p-button type="button" icon="pi pi-upload" label="Subir Logo" 
                                (click)="inputAvatar.click()" severity="secondary" [outlined]="true">
                                </p-button>                                                                  
                            </div>
                        </p-fieldset>   
                    </div>
                </div>

                <div class="flex flex-wrap gap-2 align-items-center justify-content-between mt-4">
                    <div class="flex gap-2">
                        <p-button type="submit" label="Guardar" icon="pi pi-check" 
                                 [loading]="val" *ngIf="ins.valid && valRut">
                        </p-button>
                        <p-button type="button" label="Volver" icon="pi pi-arrow-down" 
                                 routerLink=".." severity="secondary">
                        </p-button>
                    </div>
                </div>
            </form>
        </div>
    </p-fieldset>

    
    <!-- Popup para recortar la imagen -->
    <p-dialog header="Recortar Imagen" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{ width: '50vw' }">
        <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="1 / 1"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()">
        </image-cropper>
        <p-footer>
            <p-button label="Aceptar" (click)="acceptCrop()" icon="pi pi-check"></p-button>
            <p-button label="Cancelar" (click)="cancelCrop()" icon="pi pi-times" class="p-button-secondary"></p-button>
        </p-footer>
    </p-dialog>
</div> 

<style>
:host {
    .map-container {
        height: 300px;
        width: 100%;
        border: 1px solid var(--surface-border);
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
}
</style> 
